@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Metropolis !important;
}
.dropdown{
  display: none;
  /* opacity: 0; */
}
.navdrop:hover > .dropdown{
  display: flex;
  /* opacity: 1; */
}
/* @import "./Components/Style.css" */