@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Metropolis !important;
}
.dropdown{
  display: none;
}
.navdrop:hover > .dropdown{
  display: flex;
}
/* @import "./Components/Style.css" */